@use 'sass:math';
//<МИКСИНЫ>======================================================
@import 'base/mixins';
//<МИКСИНЫ>======================================================

//<ШРИФТЫ>=======================================================
//<Подключаем шрифты>============================================

@import 'base/fonts';
//</Подключаем шрифты>===========================================

//<Шрифт по умолчанию>===========================================
$fontFamily: 'Roboto';
$fontSize: 16px;
//</Шрифт по умолчанию>==========================================

//</ШРИФТЫ>======================================================

//<ПЕРЕМЕННЫЕ>===================================================
$mainColor: #000000;

@import 'variables';
//===============================================================

$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1180; // прибавить 30 padding
$containerPadding: 20;
$headerHeight: 75;

$pc: ($maxWidthContainer + $containerPadding) + px;
$tablet: 991.98 + px;
$mobile: 767.98 + px;
$mobileSmall: 479.98 + px;

//</ПЕРЕМЕННЫЕ>==================================================

//<ОБНУЛЕНИЕ>===================================
@import 'base/null';
//</ОБНУЛЕНИЕ>==================================

//<ОБОЛОЧКА>=====================================================

html {
	scroll-behavior: smooth;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</ОБОЛОЧКА>===================================================

//<ОСНОВНАЯ СЕТКА>==============================================
[class*='__container'] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $containerPadding + px;
}

//</ОСНОВНАЯ СЕТКА>=============================================
@import 'base';
@import 'global';

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============
@import 'header';
//===========MAIN===============================================
@import './parts/hero';
@import './parts/location';
@import './parts/offers';
@import './parts/blog';
//===========MAIN===============================================
@import 'footer';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============

//<ОСНОВНОЙ БЛОК>===============================================

.page {
	flex: 1 1 auto;
	position: relative;
}
//====================================================================

//Global=====================================================
._show {
	display: block;
}

.header_hidden {
	transform: translateY(-200%);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
//====================================================================
