:root {
	--color-accent: #c9453b;
	--color-light-black: rgba(0, 0, 0, 0.6);
	--color-light: rgba(255, 255, 255, 0.6);

	--offset-1: 10px;
	--offset-2: 20px;
	--offset-3: 30px;
	--offset-4: 40px;
	--offset-5: 50px;
}
